<a class="btn btn-dark" style="margin-top: 20px;" href="/">Back to Champs!</a>
<div style="align-items: center; max-width: 500px; margin: auto;">
<h1 style="font-weight: 700">{{champion.Champion}}</h1>
<h2 style="font-weight:300">{{champion.Description}}</h2>
<p>Passive: {{champion.Passive}}</p>
<p>Ability 1: {{champion.Ability1}}</p>
<p>Ability 2: {{champion.Ability2}}</p>
<p>Ability 3: {{champion.Ability3}}</p>
<p>Ultimate: {{champion.Ultimate}}</p>
<div>
<a style="margin-bottom: 10px;" class="btn btn-dark" href="/champions/{{champion._id}}/edit">Edit</a>
<form method="POST" action="/champions/{{champion._id}}?_method=DELETE">
    <button class="btn btn-dark" type="submit">Delete</button>
</form>
<form action='/comments' method='POST'>
  <input type="hidden" value="{{champion._id}}" name="championId">
  <fieldset>
    <legend>Add a Comment</legend>
    <!-- TITLE -->
    <div class="form-group">
      <label for="comment-title">Title</label><br>
      <input class="form-control"
        id="comment-title"
        type="text"
        name="title"
        placeholder="Title"/>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="comment-content">Description</label><br>
      <textarea class="form-control"
      id="comment-content"
      name="content"
      rows="10"
      placeholder="Your comment..."/></textarea>
    </div>
  </fieldset>

  <!-- BUTTON -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save Comment</button>
  </div>
</form>

<hr>

    {{#each comments}}
      {{> comment}}
    {{/each}}
